.item-shop{
  position: absolute;
  top: 0px;
  padding-top: 45px;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: white;

  .list-shopping{
    text-align: center;
    margin: 10px;
    .t-shop{
      font-family: couture;
    }
  }

  .close{
    img{
      width: 20px;
    }
    position: absolute;
    margin: 10px;
    cursor: pointer;
  }
}
