nav{
  div{
    z-index: 1;
  }
  .logo-responsive{
    position: absolute;
    display: flex;
    right: 0;
    margin: 10px;
    img{
      width: 100px;
    }
  }
  @media screen and (min-width: 750px) {
    .logo-responsive, .texture{
      display: none;
    }
  }
  .texture{
    position: absolute;
    z-index: -1;
    top: -68px;
    right: -88px;
    img{
      width: 200px;
    }
  }
}
.nav-desk{
  display: none;
}
.bg-black-nav{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
.p-nav{
  position: absolute;
}
.ico-nav{
  width: 35px;
  margin: 10px;
  cursor: pointer;
}
.nav-abs{

  position: absolute;
  z-index: 2;

  .logo{
    width: 150px;
    display: none;
  }

  .nav-content{
    background-color: #e3e3e3;
    padding: 6px;
    height: 250px;
    border-radius: 6px;
    justify-content: space-between;
    box-shadow: 0px 0px 12px 5px rgba(31, 31, 31, 0.55);
    -moz-box-shadow: 0px 0px 12px 5px rgba(31, 31, 31, 0.55);
    -webkit-box-shadow: 0px 0px 12px 5px rgba(31, 31, 31, 0.55);


    .l-item{
      background-color: #112632;
      width: 60px;
      height: 60px;
      border-radius: 6px;
      cursor: pointer;
      p{
        display: none;
      }
      img{
        width: 40px;
      }
    }
    .l-item:hover{
      background-color: #20739e;
    }
    .l-item-red{
      background-color: #530505;
    }
    .l-item-red:hover{
      background-color: #c60909;
    }
  }

}

@media screen and (min-width: 750px) {
  nav{
    .p-nav{
      display: none;
    }
  }
  .nav-desk:before {
    top: 0;
    left: 0;
    content: '';
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(2,0,36,0.4) 0%, rgba(9,9,121,0.4) 16%, rgba(0,212,255,0.4) 100%);
  }
  .nav-desk{
    background-image: url("../../assets/bg-home.jpg");
    background-size: cover;
    background-position: center center;
    top:0px;
    left: 0px;
    display: flex;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.48);

    img{
      z-index: 2;
    }

    .nav-content{
      width: 335px;
      height: auto;
      flex-direction: row;
      .l-item{
        width: 80px;
        height: 80px;
        p{
          display: inline-block;
          color: white;
          font-family: couture;
          font-size: 9px;
          margin-top: 3px;
        }
      }
    }

    .logo{
      display: flex;
    }

    /*
    .nav-content{
      height: 300px;
      .l-item{
        width: 70px;
        height: 70px;
        p{
          display: inline-block;
          color: white;
          font-family: couture;
          font-size: 8px;
          margin-top: 5px;
        }
      }
    }*/
  }

  h4{
    font-family: couture;
    margin: 3px;
    font-size: 14px;
  }
}

