<p class="margin-primary">Dites moi quel objet vous cherchez</p>
<div class="l-content-input flex-column">
  <fa-input #search (keyup)="searchItem(search.value)" type="text" placeholder="Rechercher"></fa-input>
</div>

<p class="litle-title spaceTop flex-row center-flex">
  Ma liste de course type
  <img class="ico" src="https://img.icons8.com/stickers/100/000000/shopping-bag.png"/>
</p>

<div class="content-all-item l-content-input flex-column margin-primary">
  <app-add (click)="displayFormItem()" ></app-add>
  <app-item *ngFor="let item of shoppingTypeList.reverse()"
            [name]="item.name"
            [quantity]="item.quantity"
            [id_item]="item.id_item || ''"></app-item>

  <div *ngIf="!findItemFromSearch" class="no-exist-item flex-column center-flex center-flex-dir margin-primary">
    <p class="">"{{search.value}}" n'est pas dans votre liste, cliquez en haut pour le rajouter</p>
  </div>

  <div *ngIf="shoppingTypeList.length > 0" class="flex-row center-flex-dir pagination">
    <p> Voir plus </p>
  </div>
</div>

<div [@up]="displayFormAddItem ? 'open' : 'closed' " class="l-form-item">
  <div (click)="displayFormItem()" class="close">
    <img class="ico" src="https://img.icons8.com/ios-filled/50/000000/delete-sign--v1.png"/>
  </div>

  <h4 class="litle-title flex-row center-flex margin-primary">Ajoutez un nouvelle objet
    <img class="ico" src="https://img.icons8.com/stickers/100/000000/plus.png"/>
  </h4>
  <form class="" [formGroup]="formItem" >
    <fa-input type="text" placeholder="Nom de l'article" identification="addButton" formControlName="name"></fa-input>
    <fa-input type="number" placeholder="Quantité" identification="addButton" formControlName="quantity"></fa-input>
    <fa-button (click)="addItem($event)" value="Ajouter" icone="https://img.icons8.com/stickers/100/000000/geta.png"></fa-button>
  </form>
</div>
