.l-item-house{
  margin: 8px 8px 0 8px;
  background-color: #dedede;
  border-radius: 8px;
  height: 90px;
  justify-content: space-around;
  cursor: pointer;

  .ico{
    width: 20px;
    background-color: #4b4b4b;
    padding: 6px;
    border-radius: 50%;
  }
  .item-content{
    color: white;
    .counter{
      background-color: #20739e;
      font-family: comfortaBold;
      padding: 4px;
      border-radius: 2px;
      box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.68);
      -moz-box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.68);
      -webkit-box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.68);
    }
    p{
      font-family: couture;
      font-size: 13px;
    }
  }
}
.l-item-house:hover{
  background-color: #b4b4b4;
}
