


.l-notification{
  color: white;

  .n-header{
    background: url("../../../assets/bg.jpg");
    background-size: cover;
    border-radius: 10px 10px 0 0;
    p{
      font-size: 12px;
    }
  }
  .n-footer{
    background-color: #112632;
    border-radius: 0 0 10px 10px ;
    justify-content: space-between;
    cursor: pointer;
    p{
      font-family: couture;
      font-size: 11px;
    }
  }
  .n-footer:hover{
    background-color: black;

  }
  *{
    padding: 6px;
  }
}
