  <div *ngIf="!itemRemoved" class="l-item-house flex-row center-flex center-flex-dir">
    <img class="ico" (click)="removeOneItem()" src="https://img.icons8.com/stickers/100/000000/delete.png" alt="less">
    <div class="item-content flex-column center-flex">
      <p>{{name}}</p>
      <div class="counter">
        {{quantity}}
      </div>
    </div>
    <img class="ico" (click)="addOneItem()" src="https://img.icons8.com/stickers/100/000000/plus-math.png" alt="add">
  </div>

<div *ngIf="itemRemoved && !itemInShopping" @fadeItemRemove (click)="addItemRemovedInShopping()">
  <div  class="l-item-house flex-row center-flex center-flex-dir">
    <div class="flex-row center-flex-dir center-flex">
      <img class="icoWarning" src="https://img.icons8.com/stickers/100/000000/high-priority.png"/>
      <span class="text">Vous n'avez plus de {{name}} pensez à en racheter si besoin, cliquez si
      vous voulez l'ajouter à la liste de course</span>
    </div>
  </div>
</div>

  <div *ngIf="itemInShopping" @fadeItemRemove >
    <div  class="l-item-house flex-row center-flex center-flex-dir">
      <div class="flex-row center-flex-dir center-flex">
        <img class="icoWarning" src="https://img.icons8.com/stickers/100/000000/checkmark.png"/>
        <span class="text">Parfait l'article a été rajouté dans votre dernière liste de course</span>
      </div>
    </div>
  </div>
