.container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;


  .pop{
    position: relative;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px 0px rgba(169, 169, 169, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(169, 169, 169, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(169, 169, 169, 0.75);
    min-width: 320px;
    padding: 4px;
    margin:10px;
    margin-top: 300px;


    .close{
      img{
        width: 15px;
      }
      position: absolute;
      right: 5px;
      top: 5px;
      margin: 10px;
      cursor: pointer;
    }
  }
}
.bg{
  position:fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: black;
  opacity: 0.4;
}
.shopping{
  cursor: pointer;
  .left-c{
    background-image: url("../../../assets/mag.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    width: 40%;
    height: 80px;
    border-radius: 5px 0px 0px 5px;
    .name-shopping{
      margin: 15px;
      font-family: couture;
      font-size: 16px;
      color: white;
    }
    .text-c{
      color: white;
    }
    .view{
      margin: 7px;

      p{
        font-size: 10px;
        font-family: interRegular;
        color: white;
      }
      .ico{
        width: 10px;
      }
    }
  }
  .right-c{
    position: relative;
    background-color: white;
    width: 60%;
    border-radius: 0px 5px 5px 0px;
    .progress{
      margin-top: 5px;
      height: 7px;
    }

    .information{
      margin-top: 10px;
      .description{
        width: 80%;
      }
      .number{
        font-family: couture;
        font-size: 12px;
      }
      p{
        color: black;
        font-family: comfortaLight;
      }
    }

    .delete{
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 5px;
      .ico{
        width: 20px;
      }
    }
    .text-c{
      color: #aaaaaa;
    }
  }
  .text-c{
    font-family: interRegular;
    font-size: 10Px;
    margin: 4px;
  }

  .course{
    .container-course{
      background: white;
      height: 100%;
      width: 100%;
    }
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 1;
  }
  margin: 5px;

}
.shopping:hover{
  box-shadow: 0px 0px 10px 0px rgba(169, 169, 169, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(169, 169, 169, 0.75);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(169, 169, 169, 0.75);
}

