<p class="margin-primary">Dites moi quel course vous cherchez</p>
<div class="l-content-input flex-column">
  <fa-input #search (keyup)="searchItem(search.value)" type="text" placeholder="Rechercher"></fa-input>
</div>

<div (click)="displayForm()" class="l-content-input margin-primary flex-column center-flex-dir">
  <fa-button value="faire une liste de course" icone="https://img.icons8.com/stickers/100/000000/shopping-cart.png"></fa-button>
</div>

<p class="litle-title spaceTop flex-row center-flex">
  Mes course à faire
  <img class="ico" src="https://img.icons8.com/stickers/100/000000/shopping-bag.png"/>
</p>


<div *ngIf="listShopping.length != 0" class="l-content-input flex-column margin-primary">
  <div *ngFor="let shopping of listShopping" class="shopping flex-row" (click)="displayList(shopping.id_shopping, shopping.name)">
    <div class="left-c">
      <div class="text-c">
        COURSE
      </div>
      <div class="name-shopping">
        {{shopping.name}}
      </div>
      <div class="view flex-row center-flex">
        <p>Voir votre course</p> <img class="ico" src="assets/arrowRight.png">
      </div>
    </div>
    <div class="right-c">
      <div class="text-c">
        EVOLUTION DE VOTRE COURSE
        <mat-progress-bar class="progress" mode="determinate" [value]="getProgress(shopping.numberItemInBask, shopping.numberItem)"></mat-progress-bar>

        <div class="information">
          <div class="sec flex-row center-flex">
            <p class="description">Nom d'article à acheter : </p><p class="number">{{shopping.numberItem}}</p>
          </div>

          <div class="sec flex-row center-flex">
            <p class="description">Nom d'article dans le panier : </p><p class="number">{{shopping.numberItemInBask}}</p>
          </div>
        </div>

        <div class="delete">
          <img class="ico"src="https://img.icons8.com/stickers/100/000000/delete-forever.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="listShopping.length == 0" class="l-content-input no-exist-item margin-primary">
  <p class="shopping-archive"> Vous n'avez aucune course </p>
</div>

<p class="litle-title spaceTop flex-row center-flex">
  Mes courses archivé
  <img class="ico" src="https://img.icons8.com/stickers/100/000000/shopping-bag.png"/>
</p>

<div *ngIf="listShoppingArchived.length == 0" class="l-content-input no-exist-item margin-primary">
  <p class="shopping-archive"> Vous n'avez aucune course archivé </p>
</div>

<div class="container" [@pop]="displayFormAddShopping ? 'open' : 'closed' " *ngIf="displayFormAddShopping" >
  <div class="bg">
  </div>
  <div class="pop" >
    <div (click)="displayForm()" class="close">
      <img class="ico" src="https://img.icons8.com/ios-filled/50/000000/delete-sign--v1.png"/>
    </div>
    <h4 class="litle-title flex-row center-flex margin-primary">Ajouter une nouvelle liste de course
      <img class="ico" src="https://img.icons8.com/stickers/100/000000/plus.png"/>
    </h4>
    <form [formGroup]="formAddShopping">
      <fa-input class="form-control" type="text" placeholder="Intitule de la course" formControlName="name"></fa-input>
      <fa-button (click)="addShopping()" value="Ajouter" icone="https://img.icons8.com/stickers/100/000000/shopping-cart.png" ></fa-button>
    </form>
  </div>
</div>
