<div class="m-home">
  <div class="header flex-row center-flex">
      <div class="navigation">
        <app-nav-home></app-nav-home>
      </div>
    <img src="assets/logo-white.png" />
  </div>

  <div class="body">

    <div class="icone flex-row">
      <img src="https://img.icons8.com/stickers/100/000000/shopping-cart.png"/>
      <img src="https://img.icons8.com/stickers/100/000000/home.png"/>
      <img src="https://img.icons8.com/stickers/100/000000/ingredients.png"/>
    </div>
    <p>Il N'A JAMAIS ÉTÉ AUSSI FACILE DE S'ORGANISER... </p>
    <p>FINI LES PERTES DE TEMPS DEVANT LES PLACARDS ET AU SUPERMARCHÉ !</p>
    <fa-button [routerLink]="['/access/connect']" value="Commencez" icone="https://img.icons8.com/stickers/100/000000/binoculars.png"></fa-button>


  </div>
</div>
